{% extends "layout.html" %}

{% block title %}About Us{% endblock %}

{% block body %}
<div class="py-5">
  <div class="container" style="background-color: rgb(245, 236, 231); box-shadow: 0 2px 4px rgb(78, 6, 30);">
    <div class="row hidden-md-up" style="justify-content: center; height: 20vh;">
      <h1 class="text-center">About Us</h1>
    </div><br>
    <div class="row hidden-md-up" style="justify-content: center;">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://iiitd.ac.in/sites/default/files/pravesh.jpg" alt="Dr. Pravesh Biyani"
            style="max-width: 300px; ">
          <div class="card-body text-center">
            <h5 class="card-title"><a href="https://iiitd.ac.in/praveshb" target="_blank">Dr. Pravesh Biyani</a></h5>
            <p class="card-text">
            <address>
              Associate Professor (ECE)<br>IIITD
            </address>
            </p>
          </div>
        </div>
      </div>
    </div><br>
    <div class="row" style="padding: 10px;">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/static/ankit.jpeg" alt="Ankit Kushwaha" style="max-width: 300px;">
          <div class="card-body text-center">
            <h5 class="card-title"><a href="https://www.linkedin.com/in/ankit-kushwaha-303aa1173/" target="_blank">Ankit
                Kushwaha</a></h5>
            <p class="card-text">M.Tech (CSE)</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/static/hanzalah.jpeg" alt="Hanzalah Firdausi" style="max-width: 300px;">
          <div class="card-body text-center">
            <h5 class="card-title"><a href="https://www.linkedin.com/in/hanzalah-firdausi-4bb1839a/"
                target="_blank">Hanzalah Firdausi</a></h5>
            <p class="card-text">M.Tech (CSE)</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/static/lassani.jpg" alt="Lasani Hussain" style="max-width: 300px;">
          <div class="card-body text-center">
            <h5 class="card-title"><a href="https://www.linkedin.com/in/lasani-hussain-a293ba121/"
                target="_blank">Lasani Hussain</a></h5>
            <p class="card-text">M.Tech (CSE)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}